%div{:id => 'header'}
  - if signed_in?
    %div{:class => 'user_welcome'}
      %p
        ="Hello #{current_user['user_name']}"
        %br
        =link_to 'sign_out', signout_path, :method => :delete
          -#=link_to image_tag('logo.png', :alt => 'REST CLIENT RUBY SAMPLE')