=link_to 'back to demo list', :action => :demo, :controller => :home

%p{:style => "font-weight:bold;"}='Checked Out Objects'

%table{:border => 1}
  %tr
    %th='Name'
    %th='Summary'
    %th='Published'
    %th='Updated'
  -@checked_out_object_entries.each do |entry|
    %tr
      %td=entry['title']
      %td=entry['summary']
      %td=entry['published']
      %td=entry['updated']