=form_tag object_path(params[:id]), :method => 'patch' do
  =label_tag :object_name, 'Name:'
  =text_field_tag :object_name, @object['properties']['object_name']
  =hidden_field_tag :cabinet_id, params[:cabinet_id]
  =submit_tag 'update'