=link_to 'back to demo list', :action => :demo, :controller => :home

%p{:style => "font-weight:bold;"}='SysObjects'


- if @objects.representation_json['entries']
  =form_tag objects_path, :method => 'get' do
    =number_field_tag :items_per_page, params[:items_per_page].to_i, min: 1
    =hidden_field_tag :cabinet_id, params[:cabinet_id]
    =submit_tag 'items per page'

  - if @objects.has_first_link?
    =link_to 'first', :action => :index, :page => 1, :items_per_page => params[:items_per_page], :cabinet_id => params[:cabinet_id]
  - if @objects.has_previous_link?
    =link_to 'previous', :action => :index, :page => extract_page(@objects.find_link_by(Dctmclient::Resources::Link::RELATIONS[:previous]).href), :items_per_page => params[:items_per_page], :cabinet_id => params[:cabinet_id]
  - if @objects.has_next_link?
    =link_to 'next', :action => :index, :page => extract_page(@objects.find_link_by(Dctmclient::Resources::Link::RELATIONS[:next]).href), :items_per_page => params[:items_per_page], :cabinet_id => params[:cabinet_id]

  - if @objects.has_last_link?
    =link_to 'last', :action => :index, :page => extract_page(@objects.find_link_by(Dctmclient::Resources::Link::RELATIONS[:last]).href), :items_per_page => params[:items_per_page], :page => params[:page], :cabinet_id => params[:cabinet_id]


%table{:border => '1'}
  %tr
    %th='Title'
    %th='Summary'
    %th='Action'
  -entries = @objects.representation_json['entries']
  -entries ||= []
  -entries.each do |object|
    %tr
      %td=object['title']
      %td=object['summary']
      %td
        -id = object['id'].split('/objects/')[1]
        =link_to 'show', :action => :show, :controller => :objects, :id => id, :cabinet_id => params[:cabinet_id]
        =link_to 'edit', :action => :edit, :controller => :objects, :id => id, :cabinet_id => params[:cabinet_id]
        =button_to 'delete', {:action => :destroy, :controller => :objects, :id => id, :cabinet_id => params[:cabinet_id]}, :method => :delete, data: {confirm: "Are you sure?"}

=link_to 'new', :action => :new, :controller => :objects, :cabinet_id => params[:cabinet_id]
