=link_to 'back to demo list', :action => :demo, :controller => :home
%br

- if !@checked_out
  = link_to 'checkout', :action => :checkout, :controller => :objects, :cabinet_id => params[:cabinet_id]
-else
  =link_to 'cancel_checkout', :action => :cancel_checkout, :controller => :objects, :cabinet_id => params[:cabinet_id]
  %br
  =form_tag({:action => :checkin}, multipart: true) do
    =file_field_tag :file
    =submit_tag 'checkin'
    =radio_button_tag :version, 'major', true
    =label_tag :version, 'major'
    =radio_button_tag :version, 'minor'
    =label_tag :version, 'minor'
    =hidden_field_tag :cabinet_id, params[:cabinet_id]

%table{:border => '1'}
  %tr
    %th='Title'
    %th='Summary'
  -@versions.representation_json['entries'].each do |entry|
    %tr
      %td=entry['title']
      %td=entry['summary']