= form_tag(documents_path, :method => :post, :multipart => true)do
  %p
    = file_field_tag :uploaded_file
    = hidden_field_tag :parent_folder_id, params[:parent_folder_id]
  %p
    = submit_tag 'Upload'
