=link_to 'back to demo list', :action => :demo, :controller => :home


%p{:style => "font-weight:bold;"}='Batch Capabilities'

%p{:style => "font-weight:bold;"}="Batchable Resource"
%table{:border => '1'}
  -batchable_resources = @batch_capabilites['batchable-resources']
  -batchable_resources ||= []
  -batchable_resources.each do |resource|
    %tr
      %td=resource

%p{:style => "font-weight:bold;"}='Non Batchable Resource'
%table{:border => '1'}
  -non_batchable_resources = @batch_capabilites['non-batchable-resources']
  -non_batchable_resources ||= []
  -non_batchable_resources.each do |resource|
    %tr
      %td=resource