=link_to 'back to demo list', :action => :demo, :controller => :home

%p{:style => "font-weight:bold;"}='Users'

=form_tag users_path, :method => 'get' do
  =number_field_tag :items_per_page, params[:items_per_page].to_i, min: 1
  =submit_tag 'items per page'

- if @users.has_first_link?
  =link_to 'first', :action => :index, :page => 1, :items_per_page => params[:items_per_page]
- if @users.has_previous_link?
  =link_to 'previous', :action => :index, :page => extract_page(@users.find_link_by(Dctmclient::Resources::Link::RELATIONS[:previous]).href), :items_per_page => params[:items_per_page]
- if @users.has_next_link?
  =link_to 'next', :action => :index, :page => extract_page(@users.find_link_by(Dctmclient::Resources::Link::RELATIONS[:next]).href), :items_per_page => params[:items_per_page]

- if @users.has_last_link?
  =link_to 'last', :action => :index, :page => extract_page(@users.find_link_by(Dctmclient::Resources::Link::RELATIONS[:last]).href), :items_per_page => params[:items_per_page]


%table{:border => 1}
  %tr
    %th='Title'
    %th='Summary'
    %th='Action'
  -@users.representation_json['entries'].each do |user|
    %tr
      %td=user['title']
      %td=user['summary']
      %td=link_to 'show', :action => :show, :controller => :users, :id => user['title']


